<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" href="~/favicon.ico">
    <title>鱼台龙虾节后台管理系统 - 登录页面</title>
</head>

<body>
    @Html.AppendCssFile("/Views/Login/Index.css")
    <input id="errornum" type="hidden" value="@ViewBag.errornum" />
    <div class="kr-login-logo">
        <img src="~/Content/images/Login/logow.png" alt="">
        <div class="kr-login-title">
            后台管理系统
        </div>
    </div>
    <div class="kr-login-body">
        <div class="kr-login-prompt">
            <h4 class="kr-prompt-title">鱼台龙虾节后台管理系统</h4>
            <h4 class="kr-prompt-title">全新上线</h4>
        </div>
        <div class="kr-login-main">
            <!--密码登录-->
            <div class="kr-login-bypsw noreg">
                <div class="kr-login-head">欢迎使用后台管理系统, 请登录</div>
                <div class="kr-login-warning"><img src="~/Content/images/Login/error.png" alt=""><span>登录帐号或登录密码不正确</span></div>
                <div class="kr-login-input">
                    <input id="kr_username" type="text" placeholder="手机号/帐号">
                </div>
                <div class="kr-login-input">
                    <input id="kr_password" type="password" placeholder="密码">
                    <span id="psw_change"></span>
                </div>
                <div class="kr-login-btn" id="kr_login_btn"><span>立即登录</span></div>
            </div>
        </div>
    </div>
    <div class="kr-login-footer"><div><p>Copyright © 2022 鱼台县烹饪餐饮业协会 </p></div></div>
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/jquery/jquery.md5.min.js"></script>
    <script>
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
        $.rootUrl = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        $.krToken = $('@Html.AntiForgeryToken()').val();
    </script>
    @Html.AppendJsFile("/Views/Login/Index.js")
</body>
</html>